.my-background {
  background-size: 100% 100%;
  background-color: #1f1f1d;
  background-repeat: no-repeat;
  background-position: top center;
}
/* 
@-webkit-keyframes pulse {
   0% {
      transform: scaleX(1);
   }

   50% {
      transform: scale3d(1.1, 1.1, 1.1);
   }

   to {
      transform: scaleX(1);
   }
}

@keyframes pulse {
   0% {
      transform: scaleX(1.5);
   }

   50% {
      transform: scale3d(1.1, 1.1, 1.1);
   }

   to {
      transform: scaleX(1.5);
   }
}

.pulse:hover {
   -webkit-animation-name: pulse;
   animation-name: pulse;
   cursor: pointer;
} */
